{% extends "base.html" %}
{% load static %}
{% block title %}
  Список тар
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div class="row align-items-center">
    <div class="col-md-10">
      <h1 class="pb-2 mb-0">Список тары</h1>
    </div>
    {% if user.is_superuser %}
    <div class="col-md-2 text-right">
      <a href="{% url 'containers:create' %}" class="btn btn-primary">Добавить тару</a>
    </div>
    {% endif %}
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID Тары</th>
            <th scope="col">Объем тары</th>
            <th scope="col">Тип тары</th>
            <th scope="col">Доступность</th>
          </tr>
        </thead>
        <tbody>
          {% for container in containers_list %}
            <tr>
              <td><a href="{% url 'containers:detail' container.container_id %}">{{ container.container_id }}</a></td>
              <td>{{ container.container_volume }}</td>
              <td>{{ container.container_type }}</td>
              <td>{{ container.container_availability|yesno:"Доступно,Недоступно" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
    Для продолжения работы в системе, пожалуйста, войдите в аккаунт. Для получения новой учетной записи обратитесь к администратору
  {% endif %}
{% endblock %}
