{% extends "base.html" %}
{% load static %}
{% block title %}
  Список сотрудников
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="row align-items-center">
  <div class="col-md-10">
    <h1 class="pb-2 mb-0">Список сотрудников</h1>
  </div>
  {% if user.is_superuser %}
  <div class="col-md-2 text-right">
    <a href="{% url 'employees:create' %}" class="btn btn-primary">Добавить сотрудника</a>
  </div>
  {% endif %}
</div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID сотрудника</th>
            <th scope="col">ФИО сотрудника</th>
            <th scope="col">Должность</th>
            <th scope="col">График работы</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees_list %}
            <tr>
              <td><a href="{% url 'employees:detail' employee.employee_id %}">{{ employee.employee_id }}</a></td>
              <td>{{ employee.employee_fio }}</td>
              <td>{{ employee.employee_position }}</td>
              <td>{{ employee.employee_schedule }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
    Для продолжения работы в системе, пожалуйста, войдите в аккаунт. Для получения новой учетной записи обратитесь к администратору
  {% endif %}
{% endblock %}
