{% extends "base.html" %}
{% load static %}
{% block title %}
  Сотрудник {{ employee.employee_id }}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <div class="row align-items-center">
    <div class="col-md-8">
      <h1 class="pb-2 mb-0">Сотрудник {{ employee.employee_id }}</h1>
    </div>
    {% if user.is_superuser %}
    <div class="col-md-2 text-right">
      <a href="{% url 'employees:edit' employee.employee_id %}" class="btn btn-primary">Редактировать сотрудника</a>
    </div>
    <div class="col-md-2 text-right">
      <a href="{% url 'employees:delete' employee.employee_id %}" class="btn btn-primary">Удалить сотрудника</a>
    </div>
    {% endif %}
  </div>

  <div class="row mt-3">
    <div class="col-12 col-md-6">
      <h2>Заказы сотрудника</h2>
      {% if order %}
        <ul class="list-group list-group-flush">
          {% for o in order %}
            <li class="list-group-item">
              <strong>Заказ:</strong> {{ o.id }}<br>
              <strong>Клиент:</strong> {% if o.customer_phone %}{{ o.customer_phone.fio }}{% else %} ---{% endif %}<br>
              <strong>Тара:</strong> {% if o.container_id %}{{ o.container_id.container_id }}{% else %} ---{% endif %}<br>
              <strong>Статус заказа:</strong> {{ o.order_status }}<br>
              <strong>Дата заказа:</strong> {{ o.delivery_datetime|date:"Y-m-d H:i" }}<br>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Сотрудник не имеет заказов.</p>
      {% endif %}
    </div>


  
    <div class="col-12 col-md-6">
      <h2>Основная информация</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">ФИО: {{ employee.employee_fio }}</li>
        <li class="list-group-item">Должность: {{ employee.employee_position }}</li>
        <li class="list-group-item">График работы: {{ employee.employee_schedule }}</li>
      </ul>
    </div>
  </div>
  {% else %}
    Для продолжения работы в системе, пожалуйста, войдите в аккаунт или зарегистрируйтесь.
  {% endif %}
{% endblock %}
