{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  Настройка заказа
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  {% with data=order %}
    {% if '/edit/' in request.path %}
      <h2>Редактировать заказ {{ data.id }}</h2>
    {% elif "/delete/" in request.path %}
      <h2>Удалить заказ {{ object.id }}</h2>
    {% else %}
      <h2>Создать новый заказ</h2>
    {% endif %}
    <div class="card col-4">
      <div class="card-header">
        Настройка заказа 
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% if not "/delete/" in request.path %}
            {% bootstrap_form form %}
          {% else %}
            <p>Дата и время доставки: {{ object.delivery_datetime }}</p>
            <p>Статус заказа: {{ object.order_status }}</p>
            <p>Тип заказа: {{ object.order_type }}</p>
            {% comment %} <p>Телефон клиента: {{ object.client }}</p>
            <p>Сотрудник: {{ object.employee }}</p>
            <p>Тара: {{ object.container }}</p> {% endcomment %}
            <p>Номер заказа: {{ object.id }}</p>
              
          {% endif %}
          {% bootstrap_button button_type="submit" content="Готово" %}
        </form>
      </div>
    </div>
    {% if form.is_valid %}
      <h2>Заказ {{ data.delivery_datetime }} успешно зарегистрирован в системе!</h2>
    {% endif %}
  {% endwith %}
  <hr>
  <div>
    <a href="{% url 'orders:list' %}">Список всех заказов</a>
  </div>
  {% else %}
  Для продолжения работы в системе, пожалуйста, войдите в аккаунт. Для получения новой учетной записи обратитесь к администратору
{% endif %}
{% endblock %}
