{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  Настройка клиента
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  {% with data=form.instance %}
    {% if '/edit/' in request.path %}
      <h2>Редактировать клиента {{ data.fio }}</h2>
    {% elif "/delete/" in request.path %}
      <h2>Удалить клиента {{ data.fio }}</h2>
    {% else %}
      <h2>Зарегистрировать клиента</h2>
    {% endif %}
    <div class="card col-4">
      <div class="card-header">
        Настройка клиента
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% if not "/delete/" in request.path %}
            {% bootstrap_form form %}
          {% else %}
            <p>ФИО: {{ data.fio }}</p>
            <p>Адрес: {{ data.address }}</p>
            <p>Телефон: {{ data.customer_phone }}</p>
            <p>Статус: {{ data.status }}</p>
          {% endif %}
          {% bootstrap_button button_type="submit" content="Готово" %}
        </form>
      </div>
    </div>
    {% if form.is_valid %}
      <h2>Клиент {{ data.fio }} зарегистрирован в системе!</h2>
    {% endif %}
  {% endwith %}
  <hr>
  <div>
    <a href="{% url 'clients:list' %}">Список всех клиентов</a>
  </div>
  {% else %}
    Для продолжения работы в системе, пожалуйста, войдите в аккаунт. Для получения новой учетной записи обратитесь к администратору
  {% endif %}
{% endblock %}
